html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    transform: scale(1.1);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.container__inner {
    display: flex;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    border-bottom: 3px solid #d62a80;
    transition: 0.2s;
}

/* Haal dit weg om de hover animatie weg te halen: */
.container__inner:hover {
    transform: scale(1.1);
}

.form {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.form__title {
    color: #fff;
}

.form__wrapper {
    margin: 0 0 25px 0;
}

.form__input {
    border: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #535353;
    color: #fff;
}

.form__input:hover {
    background-color: #686868;
}

.form__button {
    border-style: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #d62a80;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.form__button:hover {
    background-color: #aa1d63;
}
